version: "2.3"

services:

  postgres:
    image: postgres:14.2
    environment:
      POSTGRES_USER: album_catalogue
      POSTGRES_PASSWORD: test_db_password
    ports: 
      - '5432:5432'
    volumes:
      - album-catalogue-postgres:/var/lib/postgresql/data

  redis:
    image: redis:7.0
    ports:
      - '6379:6379'
    volumes:
      - album-catalogue-redis:/var/lib/redis/data

  album-catalogue:
    build:
      context: .
    volumes:
      - ./:/opt/app
    links:
      - postgres
      - redis
    ports:
      - '8010:8010'
    env_file:
      - .env

  sidekiq:
    build:
      context: .
    command: bundle exec sidekiq 
    links:
      - postgres
      - redis
    env_file:
      - .env

  nginx:
    build:
      context: .
      dockerfile: ./Dockerfile.nginx
    links:
      - album-catalogue
    ports:
      - '8020:8020'

volumes:
  album-catalogue-postgres:
  album-catalogue-redis: